{% extends "base.njk" %}

{% block title %}
Page Not Found (Error 404)
{% endblock %}

{% block content %}

    <div class='container my-5'>
        <h2> This page is lost in event horizon.</h2>

    </div>

{% endblock %}